@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --darker_accent_color: #2c6e6b;
  --dark_accent_color: #32936f;
  --accent_color: #26a96c;
  --light_accent_color: #7ae1b1;
  --light_text_color: #ececec;
  --dark_text_color: #2b2b2b;
  --background_color: #faf4fc;
}

:target::before {
  content: "";
  display: block;
  height: 3rem;
  margin: 1rem 0 0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--background_color);
}

strong {
  color: var(--dark_accent_color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 42rem;
  padding: 2rem;
  background-image: url("./assets/sandy.webp");
  background-size: cover;
  background-position: center;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.75);
}

.navbar-toggler {
  color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0 0.25rem 0 0.25rem;
}

.navbar-toggler-icon {
  filter: invert(100%) sepia(98%) saturate(23%) hue-rotate(263deg)
    brightness(116%) contrast(85%);
}

.offcanvas {
  max-width: 60%;
  background: rgb(0, 142, 118);
  background: linear-gradient(
    315deg,
    rgba(0, 142, 118, 1) 0%,
    rgba(30, 72, 71, 1) 51%
  );
}

.btn-close {
  margin-bottom: 1rem;
  filter: invert(100%) sepia(98%) saturate(23%) hue-rotate(263deg)
    brightness(116%) contrast(85%);
  transform: scale(125%);
}

.nav-link,
.nav-link.active {
  color: var(--light_text_color) !important;
  font-weight: bold;
  font-size: 1.25rem;
}

.container-fluid > p {
  font-family: Caveat;
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light_text_color);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-family: Playfair Display;
  font-size: 3.25rem;
  font-style: italic;
  text-align: center;
  color: var(--light_text_color);
  overflow: hidden;
  border-right: 0.35rem solid var(--light_text_color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing_h1 1.2s steps(20, end), blink-caret 0.65s step-end alternate;
  animation-fill-mode: forwards;
}

.banner p {
  font-family: Playfair Display;
  font-size: 1.75rem;
  font-style: italic;
  text-align: center;
  color: var(--light_text_color);
  overflow: hidden;
  border-right: 0.35rem solid var(--light_text_color);
  white-space: nowrap;
  margin: 0 auto;
  opacity: 0;
  letter-spacing: 0.15em;
  animation: typing_p 1.2s steps(20, end), blink-caret 0.65s step-end infinite;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes typing_h1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing_p {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--light_accent_color);
  }
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.5rem 5rem;
  width: 100%;
}

.profile_pic {
  display: flex;
  width: 35%;
}

.profile_pic img {
  width: 100%;
}

.labeled-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  padding: 1.5rem;
}

.labeled-text h1,
.trabalhos h1,
.contato h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--accent_color);
}

.labeled-text h1 {
  margin-top: 2rem;
}

.labeled-text p,
.trabalhos p {
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem 0;
  color: var(--dark_text_color);
  text-align: justify;
}

.trabalhos,
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 5rem;
  margin-bottom: 1rem;
}

.contato {
  min-height: 36rem;
}

.contato h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5rem;
  color: var(--dark_text_color);
}

.contato h3 {
  font-size: 1.25rem;
  color: var(--accent_color);
}

.grade_exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.atividade {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  min-height: 100%;
  padding: 0.8rem;
  margin: 1rem 0 1rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0.2rem 0.2rem 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.atividade:hover {
  transform: scale(110%);
}

.atividade_titulo {
  display: flex;
  height: 10%;
  justify-content: center;
}

.atividade_titulo h1 {
  font-size: 1.75rem;
  text-align: center;
}

.atividade_desc {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  min-height: 85%;
}

.atividade_desc p {
  font-size: 0.95rem;
}

.carousel {
  width: 95%;
  min-height: 26rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0.2rem 0.2rem 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.carousel-indicators button {
  background-color: var(--dark_accent_color) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(43%) sepia(87%) saturate(320%) hue-rotate(106deg)
    brightness(95%) contrast(84%);
}

.text_carousel {
  display: flex;
  width: 100%;
  min-height: 24rem;
  padding: 0 12rem;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.text_carousel p {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.carousel-caption {
  display: flex !important;
  justify-content: center;
  padding: 0;
}

.carousel-caption p {
  font-size: 1rem;
  font-style: italic;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 75%;
}

.links a {
  font-size: 8rem;
  color: var(--accent_color);
  transition: 0.3s;
}

.links a:hover {
  filter: brightness(150%);
  transform: scale(115%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-family: Caveat;
  background-color: var(--light_accent_color);
}

footer > a {
  text-decoration: none;
  color: var(--dark_text_color);
}

@media only screen and (max-width: 1200px) {
  :target::before {
    margin: 0;
  }

  header {
    width: 100%;
    min-height: 18rem;
    padding: 0;
    justify-content: center;
  }

  .banner {
    flex-direction: column;
  }

  .banner h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .banner p {
    font-size: 1rem;
  }

  .profile_pic {
    justify-content: center;
  }

  .profile_pic img {
    width: 18rem;
  }

  .labeled-text {
    padding: 0;
    margin: 0;
  }

  .profile_pic,
  .labeled-text h1 {
    margin-top: 1rem;
  }

  .sobre,
  .trabalhos,
  .contato {
    flex-direction: column;
    min-height: auto;
    padding: 0 2.2rem;
  }

  .labeled-text h1,
  .trabalhos h1,
  .contato h1 {
    font-size: 2rem;
    text-align: center;
  }

  .contato h2 {
    font-size: 1.25rem;
    text-align: center;
  }

  .contato h3 {
    font-size: 1.1rem;
    text-align: center;
  }

  .labeled-text p,
  .trabalhos p,
  .contato p {
    font-size: 1rem;
    text-align: justify;
  }

  .profile_pic,
  .labeled-text,
  .atividade {
    width: 100%;
  }

  .grade_exp {
    flex-direction: column;
  }

  .atividade {
    min-height: auto;
    margin-bottom: 1.25rem;
    justify-content: center;
  }

  .atividade_titulo,
  .atividade_desc {
    height: auto;
    min-height: auto;
  }

  .atividade_titulo h1 {
    margin: 1rem 0 1rem 0;
  }

  .text_carousel {
    padding: 4rem;
  }

  .text_carousel p {
    font-size: 1rem;
    text-align: center;
  }

  .carousel-caption p {
    font-size: 0.75rem;
  }

  .links {
    width: 95%;
    margin-top: 1rem;
    margin-top: 2rem;
    justify-content: space-between;
  }

  .links a {
    font-size: 4rem;
  }
}
